<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Clientes</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div class="container">
  <h1 class="my-4">Lista de Clientes</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Compañia</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>NIF</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
      <td th:text="${customer.name}"></td>
      <td th:text="${customer.surname}"></td>
      <td th:text="${customer.company_name}"></td>
      <td th:text="${customer.email}"></td>
      <td th:text="${customer.phone}"></td>
      <td th:text="${customer.nif}"></td>
    </tr>
    </tbody>
  </table>
  <a href="/customers/new" class="btn btn-primary">Añadir Nuevo Cliente</a>
</div>
</body>
</html>